{% extends "base.html" %}

{% block content %}
<br><br>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Título</th>
      <th scope="col">Duración</th>
      <th scope="col">Album</th>
      <th scope="col"></th>
    </tr>
  </thead>
  {% if canciones %}
  <tbody>
    {% for cancion in canciones%}
    <tr>
      <td>{{cancion.nombre}}</td>
      <td>{{cancion.duracion}}</td>
      <td>{{cancion.album}}</td>
      <td><button><a href="{{ cancion.get_absolute_url }}">+ INFO</a></button></td>
    </tr>
    {% endfor %}
  </tbody>
  {% else %}
  <p>No hay canciones en la biblioteca.</p>
{% endif %}
</table>

{% endblock %}