{% extends "base.html" %}

{% block content %}
<br><br>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Duración</th>
      <th scope="col">Album</th>
      <th scope="col"></th>
    </tr>
  </thead>
  {% if canciones %}
  <tbody>
    {% for cancion in canciones%}
    <tr>
      <td>{{cancion.nombre}}</td>
      <td>{{cancion.duracion}}</td>
      <td>{{cancion.album}}</td>
      <td><a id="modify-button" class="btn btn-danger" href="{% url 'cancion_eliminar' cancion.id %}">Eliminar</a></td>
    </tr>
    {% endfor %}
  </tbody>
  {% else %}
  <p>No hay artistas en la biblioteca.</p>
{% endif %}
</table>

{% endblock %}