{% extends "base.html" %}

{% block content %}

<br><br>
    <h3>Últimos albums añadidos</h3>
    <div class="row">
        {% for album in albums%}
        <div class="col-sm-2">
            <div class="card text-center" style="width: 10rem;">
                {% if album.cover %}
                <img src="{{ album.cover.url }}" class="card-img-top" alt="preview-album">
                {% else %}
                <p>No hay foto</p>
                {% endif %}
                <img class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{album.titulo}}</h5>
                    <p class="card-text">{{album.get_artistas}}</p>
                    <p class="card-text">{{album.discografica}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}