{% load static %}
<a class="navbar-brand" href="{% url 'indice' %}"><img src="{% static 'icons/jukebox.png' %}" width="50" height="50" class="d-inline-block align-top" alt="">JukeBox</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'indice' %}">
          <img src="{% static 'icons/home.png' %}" width="20" height="20" class="d-inline-block align-top" alt="">
          Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-expanded="false">
          <img src="{% static 'icons/galeria.png' %}" width="20" height="20" class="d-inline-block align-top" alt="">
          Galería
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'galeria' %}">Mostrar</a>
          {% if user.is_authenticated %}
          <a class="dropdown-item" href="{% url 'creaimagen' %}">Subir</a>
          {% endif %}
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-expanded="false">
          <img src="{% static 'icons/artista.png' %}" width="20" height="20" class="d-inline-block align-top" alt="">
          Artistas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'artistas_lista' %}">Listar</a>
          {% if user.is_authenticated %}
          <a class="dropdown-item" href="{% url 'artista_crear' %}">Crear</a>
          <a class="dropdown-item" href="{% url 'listar_modificar_artista' %}">Modificar</a>
          <a class="dropdown-item" href="{% url 'listar_eliminar_artista' %}">Eliminar</a>
          {% endif %}
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-expanded="false">
          <img src="{% static 'icons/album.png' %}" width="20" height="20" class="d-inline-block align-top" alt="">
          Albums
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'albums_lista' %}">Listar</a>
          {% if user.is_authenticated %}
          <a class="dropdown-item" href="{% url 'album_crear' %}">Crear</a>
          <a class="dropdown-item" href="{% url 'listar_modificar_album' %}">Modificar</a>
          <a class="dropdown-item" href="{% url 'listar_eliminar_album' %}">Eliminar</a>
          {% endif %}
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-expanded="false">
          <img src="{% static 'icons/cancion.png' %}" width="20" height="20" class="d-inline-block align-top" alt="">
          Canciones
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'canciones_lista' %}">Listar</a>
          {% if user.is_authenticated %}
          <a class="dropdown-item" href="{% url 'cancion_crear' %}">Crear</a>
          <a class="dropdown-item" href="{% url 'listar_modificar_cancion' %}">Modificar</a>
          <a class="dropdown-item" href="{% url 'listar_eliminar_cancion' %}">Eliminar</a>
          {% endif %}
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-expanded="false">
          <img src="{% static 'icons/discografica.png' %}" width="20" height="20" class="d-inline-block align-top" alt="">
          Discográficas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'discograficas_lista' %}">Listar</a>
          {% if user.is_authenticated %}
          <a class="dropdown-item" href="{% url 'discografica_crear' %}">Crear</a>
          <a class="dropdown-item" href="{% url 'listar_modificar_discografica' %}">Modificar</a>
          <a class="dropdown-item" href="{% url 'listar_eliminar_discografica' %}">Eliminar</a>
          {% endif %}
        </div>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-expanded="false">
          {{user.username}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
        </div>
        {% else %}
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">
          <img src="{% static 'icons/login.png' %}" width="20" height="20" class="d-inline-block align-top" alt="">
          Login</a>
      </li>
      {% endif %}
    </ul>
  </div>