{% extends "base.html" %}
{% load static %}

{% block content %}
<br>
{% if albums %}
<div class="row">
  {% for album in albums%}
  <div class="col-sm-2">
    <div class="card text-center" style="width: 10rem;">
      <img class="card-img-top" src="{{ album.cover.url }}" alt="album cover">
      <div class="card-body">
        <h5 class="card-title">{{album.titulo}}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{album.get_artistas}}</li>
        <li class="list-group-item">{{album.discografica}}</li>
        <li class="list-group-item">{{album.duracion}}</li>
        <li class="list-group-item">{{album.get_formato_display}}</li>
      </ul>
      <div class="card-body">
        <a href="{{ album.get_absolute_url }}" class="card-link">Más información</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}

{% endblock %}