{% extends "base.html" %}

{% block content %}
<br><br>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Titulo</th>
      <th scope="col">Artistas</th>
      <th scope="col">Formato</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    {% for album in albums%}
    <tr>
      <td>{{album.titulo}}</td>
      <td>{{album.get_artistas}}</td>
      <td>{{album.get_formato_display}}</td>
      <td><a id="modify-button" class="btn btn-warning" href="{% url 'album_modificar' album.id %}">Modificar</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}