{% extends "base.html" %}

{% block content %}
<br><br>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
    </tr>
  </thead>
  {% if discograficas %}
  <tbody>
    {% for discografica in discograficas%}
    <tr>
      <td>{{discografica.nombre}}</td>
      <td>{{discografica.email}}</td>
      <td><a id="modify-button" class="btn btn-danger" href="{% url 'discografica_eliminar' discografica.id %}">Eliminar</a></td>
    </tr>
    {% endfor %}
  </tbody>
  {% else %}
  <p>No hay discográficas en la biblioteca.</p>
{% endif %}
</table>

{% endblock %}