{% extends "base.html" %}

{% block content %}
<br><br>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col"></th>
    </tr>
  </thead>
  {% if discograficas %}
  <tbody>
    {% for discografica in discograficas%}
    <tr>
      <td>{{discografica.nombre}}</td>
      <td><button><a href="{{ discografica.get_absolute_url }}">+ INFO</a></button></td>
    </tr>
    {% endfor %}
  </tbody>
  {% else %}
  <p>No hay discográficas en la biblioteca.</p>
{% endif %}
</table>

{% endblock %}